version: '3'
services:
  nginx:
    build: student-registration-platform-nginx
    container_name: student-registration-platform-nginx
    volumes:
      - "./student-registration-platform-front-end/build:/usr/share/nginx/html/"
    ports:
      - ${nginx_host_port}:80
    depends_on:
      - api
  db:
    image: postgres:10.16
    container_name: student-registration-platform-postgres
    ports:
      - 5432
    environment:
      - POSTGRES_USER=${database_username}
      - POSTGRES_PASSWORD=${database_password}
    volumes:
    - db_data:/var/lib/postgresql/data
  api:
    build: .
    container_name: student-registration-platform-api
    environment:
      - RAILS_ENV=${rails_env}
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db
volumes:
  db_data: